@using TheHotel.ViewModels.ClientRooms

@model IEnumerable<DeletedClientRoomsViewModel>

@{
    ViewData["Title"] = "Rejected Requests";
}

@if (Model.Count() == 0)
{
    <h2 class="text-center text-light">Няма отхвърлени заявки!</h2>
}
else
{
    <h2 class="text-center text-light">Отхвърлени заявки</h2>

    <table class="table table-hover table-striped shadow">
        <tr class="text-center bg-secondary text-light shadow">
            <th>Име</th>
            <th>Фамилия</th>
            <th>Стая №</th>
            <th>Дата на настаняване</th>
            <th>Дата на напускане</th>
            <th>Направена заявка на</th>
            <th>Изтрит на</th>
        </tr>
        @foreach (var request in Model.OrderByDescending(x => x.DeletedOn))
        {
            <tr class="text-center text-light"
                onclick="window.location.href = '/ClientRooms/ReservationDetails?clientRoomId=@request.Id'"
                onmouseover="this.style.backgroundColor='gray'"
                onmouseout="this.style.backgroundColor='transparent'"
                style="cursor:pointer">
                <td>@request.ClientFirstName</td>
                <td>@request.ClientLastName</td>
                <td>@request.RoomId</td>
                <td>@request.AccommodationDate.ToLocalTime().ToShortDateString()</td>
                <td>@request.DepartureDate.ToLocalTime().ToShortDateString()</td>
                <td>@request.RequestDate.Value.ToLocalTime().ToString("g")</td>
                <td>@request.DeletedOn.Value.ToLocalTime().ToString("g")</td>
            </tr>
        }
    </table>
}