@using TheHotel.ViewModels.ClientRooms

@model ReservationDetailsViewModel

@{
    ViewData["Title"] = "Reservation Details";
}

<div>
    <div class="row">
        <div class="col-md-4 d-inline-block border-left border-warning">
            <h3 class="text-center text-warning m-4">Клиент</h3>
            <div>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">Име: </dt>
                    <dd class="col-md-8">@Model.ClientFirstName</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">Фамилия: </dt>
                    <dd class="col-md-8">@Model.ClientLastName</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">ЕГН: </dt>
                    <dd class="col-md-8">@Model.ClientPersonalIdentityNumber</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">Телефон: </dt>
                    <dd class="col-md-8">@Model.ClientPhone</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">Имейл: </dt>
                    <dd class="col-md-8">@Model.ClientEmail</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-3 border-left border-warning">
            <h3 class="text-center text-warning m-4">Стая</h3>
            <div>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">№: </dt>
                    <dd class="col-md-8">@Model.RoomId</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">Етаж: </dt>
                    <dd class="col-md-8">@Model.RoomFloor</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">Вид: </dt>
                    <dd class="col-md-8">@Model.RoomType</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">Цена: </dt>
                    <dd class="col-md-8">@Model.RoomPrice</dd>
                </dl>
            </div>
        </div>
        <div class="col-md-5 border-left border-warning">
            <h3 class="text-center text-warning m-4">Резервация</h3>
            <div>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">Дата на настаняване: </dt>
                    <dd class="col-md-8">@Model.AccommodationDate.ToLocalTime().ToShortDateString()</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">Дата на напускане: </dt>
                    <dd class="col-md-8">@Model.DepartureDate.ToLocalTime().ToShortDateString()</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">Потвърдена ли е? </dt>
                    <dd class="col-md-8">
                        @if (Model.IsConfirmed)
                        {
                            <i class="bi bi-check-circle text-success" style="font-size:30px"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-circle text-danger" style="font-size:30px"></i>
                        }
                    </dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">Изтрита ли е? </dt>
                    <dd class="col-md-8">
                        @if (Model.IsDeleted)
                        {
                            <i class="bi bi-check-circle text-success" style="font-size:30px"></i>
                        }
                        else
                        {
                            <i class="bi bi-x-circle text-danger" style="font-size:30px"></i>
                        }
                    </dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4 text-warning">Обслужена от: </dt>
                    <dd class="col-md-8">@Model.EmployeeNames</dd>
                </dl>
            </div>
        </div>
    </div>
    @if ((User.IsInRole(GlobalConstants.AdministratorRole) || User.IsInRole(GlobalConstants.ReceptionistRole)) && Model.IsDeleted == false)
    {
        <div class="row mb-2 mt-2 float-md-right">
            <a class="btn btn-danger mr-2 text-light" onclick="DeleteModal" data-toggle="modal" data-target="#DeleteModal" style="cursor:pointer">Изтриване</a>
        </div>
    }
</div>

<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Потвърждение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Сигурни ли сте, че искате да ИЗТРИЕТЕ резервацията?
            </div>
            <div class="modal-footer">
                <button id="deleteBtn" class="btn btn-success" onclick=" window.location.href = '/ClientRooms/Delete?clientRoomId=' + '@Model.Id';">Да, изтривам</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Отказ</button>
            </div>
        </div>
    </div>
</div>