@using TheHotel.ViewModels.Rooms

@model IEnumerable<RoomRequestViewModel>



@if (Model.Count() == 0)
{
    <h2 class="text-center text-light">Няма напревени заявки!</h2>
}
else
{
    <h1 class="text-center text-light mt-2 mb-4">Заявки за потвърждение</h1>

    <table class="table table-hover table-striped table-lg table-bordered mt-4 mb-4 text-light">
        <tr class="text-center bg-secondary text-light shadow">
            <th>Име</th>
            <th>Фамилия</th>
            <th>ЕГН</th>
            <th>Телефон</th>
            <th>Имейл</th>
            <th>Стая</th>
            <th>Дата на настаняване</th>
            <th>Дата на напускане</th>
            <th>Дата на заявката</th>
        </tr>
        @foreach (var request in Model)
        {
            <tr onmouseover="this.style.backgroundColor = 'green'" onmouseout="this.style.backgroundColor = 'transparent'" onclick="window.location = '/ClientRooms/RequestDetails?clientRoomId=@request.Id'" class="text-center" style="line-height: 200%; cursor:pointer">
                <td>@request.ClientFirstName</td>
                <td>@request.ClientLastName</td>
                <td>@request.ClientPersonalIdentityNumber</td>
                <td>@request.ClientPhone</td>
                <td>@request.ClientEmail</td>
                <td>@request.RoomId</td>
                <td>@request.AccommodationDate.ToLocalTime().ToShortDateString()</td>
                <td>@request.DepartureDate.ToLocalTime().ToShortDateString()</td>
                <td>@request.RequestDate.Value.ToLocalTime().ToString("g")</td>
            </tr>
        }
    </table>
}