@using TheHotel.ViewModels.Rooms

@model IEnumerable<RoomRequestViewModel>

<h1 class="text-center mt-2 mb-4">Заявки за потвърждение</h1>

<table class="table table-hover table-striped shadow table-lg mt-4 mb-4">
    <tr class="text-center bg-secondary text-light shadow">
        <th>Име</th>
        <th>Фамилия</th>
        <th>ЕГН</th>
        <th>Телефон</th>
        <th>Имейл</th>
        <th>Стая</th>
        <th>Дата на настаняване</th>
        <th>Дата на напускане</th>
        <th>Дата на заявката</th>
    </tr>
    @foreach (var request in Model)
    {
        <tr onclick="window.location = '/ClientRooms/RequestDetails?clientRoomId=@request.Id'" class="text-center" style="line-height: 200%; cursor:pointer">
            <td>@request.ClientFirstName</td>
            <td>@request.ClientLastName</td>
            <td>@request.ClientPersonalIdentityNumber</td>
            <td>@request.ClientPhone</td>
            <td>@request.ClientEmail</td>
            <td>@request.RoomId</td>
            <td>@request.AccommodationDate.ToShortDateString()</td>
            <td>@request.DepartureDate.ToShortDateString()</td>
            <td>@request.RequestDate.Value.ToString("g")</td>
        </tr>
    }
</table>