<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.0/css/all.css" integrity="sha384-aOkxzJ5uQz7WBObEZcHvV5JvRW3TUc2rNPA7pe3AwnsUohiw1Vj2Rgx2KSOkF5+h" crossorigin="anonymous">
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/lazy.css">
    <link href="~/lib/bootstrap-icons-1.8.1/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/css/MyStyle.css" rel="stylesheet" />
</head>
<body class="d-flex flex-column min-vh-100 text-light">
    <div class="page-container">
        <header class="card-header border-bottom-0">
            <nav class=" navbar navbar-expand-sm navbar-dark bg-dark box-shadow mb-3">
                <div>
                    <partial name="_SocialMedia"/>
                </div>
                <div class="container">
                    <a class="navbar-brand" style="font-size:120%" asp-area="" asp-controller="home" asp-action="index">@GlobalConstants.SystemName</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarsupportedcontent"
                            aria-expanded="false" aria-label="toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <partial name="_LoginPartial"/>
                        <ul class="navbar-nav flex-grow-1 justify-content-md-center">
                            <li class="nav-item mr-1">
                                <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Начало</a>
                            </li>
                            <li class="nav-item mr-1">
                                <a class="nav-link text-light" asp-controller="Rooms" asp-action="All">Настаняване</a>
                            </li>
                            <li class="nav-item mr-1">
                                <a class="nav-link text-light" asp-controller="Offers" asp-action="Index">Оферти</a>
                            </li>
                            <li class="nav-item mr-1">
                                <a class="nav-link text-light" asp-controller="Gallery" asp-action="Index">Галерия</a>
                            </li>
                            <li class="nav-item mr-1">
                                <a class="nav-link text-light" asp-controller="Contacts" asp-action="Index">Контакти</a>
                            </li>
                            <li class="nav-item mr-1">
                                <a class="nav-link text-light" asp-controller="Reviews" asp-action="Index">Отзиви</a>
                            </li>
                            @if (User.IsInRole(GlobalConstants.AdministratorRole) || User.IsInRole(GlobalConstants.ReceptionistRole))
                            {
                                <li class="nav-item dropdown">
                                    <a href="#" class="nav-link text-danger dropdown-toggle font-weight-bold" data-toggle="dropdown" role="button" aria-expanded="false">Администрация <span class="caret"></span></a>
                                    <ul class="dropdown-menu bg-dark  border-0" role="menu" style="background-color:none">
                                        <li class="nav-item">
                                            <a class="nav-link text-light border-bottom" asp-controller="ClientRooms" asp-action="RoomRequests">Заявки</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light border-bottom" asp-controller="Contacts" asp-action="AllQuestions">Запитвания</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light border-bottom" asp-controller="Clients" asp-action="All">Клиенти</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light border-bottom" asp-controller="ClientRooms" asp-action="RejectedRequests">Охвърлени заявки</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light border-bottom" asp-controller="ClientRooms" asp-action="DeletedReservations">Изтрити резервации</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light border-bottom" asp-controller="Contacts" asp-action="AnsweredQuestions">Отговорени запитвания</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-light border-bottom" asp-controller="Clients" asp-action="Undelete">Изтрити клиенти</a>
                                        </li>
                                        @if (User.IsInRole(GlobalConstants.AdministratorRole))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link text-light border-bottom" asp-controller="Offers" asp-action="Undelete">Изтрити оферти</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-light border-bottom" asp-controller="Rooms" asp-action="Undelete">Изтрити стаи</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-light border-bottom" asp-controller="Employees" asp-action="Index">Служители</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-light border-bottom" asp-controller="Employees" asp-action="Undelete">Изтрити служители</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-light border-bottom" asp-area="Identity" asp-page="/Account/Register">Регистрация</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <partial name="_CookieConsentPartial" />
            <main role="main" class="pb-3">
                @this.RenderBody()
            </main>
        </div>
    </div>
    <footer class="mt-auto bg-dark">
        
        <div class="container font-weight-bolder">
            &copy; @DateTime.Now.Year - @GlobalConstants.SystemName -
            <a class="border-bottom-0 text-light" asp-area="" asp-controller="Home" asp-action="Index">Начало</a>
            <a class="border-bottom-0 text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Поверителност</a>
            <div class="d-inline-block float-md-right">
                <partial name="_SocialMedia" />
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/popper/popper.min.js"></script>

    @await this.RenderSectionAsync("Scripts", required: false)
</body>
</html>
