@using TheHotel.ViewModels.Rooms
@model AllViewModel

@{
    this.ViewData["Title"] = "Rooms";
}

<div>
    <h1 class="text-center text-light">
        Търсене на свободни стаи
    </h1>
    <form method="get">
        <div class="row text-center mt-4">
            <div class="d-inline-block col-md-5">
                <label class="font-weight-bold" for="accommodationDate">Дата на настаняване: </label>
                <input type="date" name="accommodationDate" value="" />
            </div>
            <div class="d-inline-block col-md-5">
                <label class="font-weight-bold" for="departureDate">Дата на напускане: </label>
                <input type="date" name="departureDate" value="" />
            </div>
            <div class="d-inline-block col-md-2">
                <input class="btn btn-warning" type="submit" value="Търси" />
            </div>
        </div>
    </form>
</div>
@if (Model.AvailableRoomsViewModel == null)
{
    <h1 class="text-center text-light mt-4 mb-4">Всички стаи</h1>
}
else
{
    <div class="alert alert-warning text-center rounded-pill mt-4">
        <h3 class="text-danger">Свободни стаи от @Model.AvailableRoomsViewModel.AccommodationDate.Value.ToLocalTime().ToString("dd.MM.yyyy")г. до @Model.AvailableRoomsViewModel.DepartureDate.Value.ToLocalTime().ToString("dd.MM.yyyy")г.</h3>
    </div>
}
@foreach (var room in Model.AllRoomsViewModel)
{
    string imgSrc = $"../img/rooms/room{room.Id}.jpg";
    <div class="roomSection row mb-2">
        <div class="col-sm-4 ">
            <a href="/Rooms/Details?roomId=@room.Id">
                <img class="img-fluid img-thumbnail" src=@imgSrc alt="Room image" />
            </a>
        </div>
        <div class="row col-sm-8 ml-2">
            <div class="row">
                <a class="position-absolute fixed-top text-center btn-outline-warning btn-lg border-dark rounded-pill border-top-0 border-bottom-0 text-light" href="/Rooms/Details?roomId=@room.Id">Стая @room.Id</a>
            </div>
            <div class="row col-sm-12">
                <div class="col-sm-6 mt-5">
                    Вид: @room.RoomType
                    <br />
                    Етаж: @room.Floor
                    <br />
                    Размер: @room.Size m&sup2;
                    <br />
                    Макс. брой гости: @room.MaxGuests
                    <br />
                    <br />
                    Цена: @room.Price лв.
                </div>
                <div class="col-sm-6 mt-5">
                    <a class="btn btn-success btn-lg position-absolute mb-2" style="bottom:0; right:0;" href="/Rooms/ClientPin?roomId=@room.Id">Резервирай</a>
                </div>
            </div>
        </div>
    </div>
}