@using TheHotel.ViewModels.Rooms
@model AllViewModel

@{
    this.ViewData["Title"] = "Rooms";
}

<div>
    <form method="post">
        <div class="row text-center">
            <div class="d-inline-block col-sm-3">
                <label class="font-weight-bold" for="accommodationDate">Дата на настаняване: </label>
                <input type="date" name="accommodationDate" value="" />
            </div>
            <div class="d-inline-block col-sm-3">
                <label class="font-weight-bold" for="departureDate">Дата на напускане: </label>
                <input type="date" name="departureDate" value="" />
            </div>
            <div class="d-inline-block col-sm-3">
                <label class="font-weight-bold" for="numGuests">Стая за: </label>
                <br />
                <select name="numGuests" id="numGuests">
                    <option value="null"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <div class="d-inline-block col-sm-3">
                <input class="btn btn-success" type="submit" name="searchBtn" value="Търси" />
            </div>
        </div>
    </form>
</div>
@if (Model.AvailableRoomsViewModel != null)
{
    <div class="alert alert-danger text-center">
        <h3 class="text-success">@Model.AvailableRoomsViewModel.AccommodationDate.Value.ToString("dd.MM.yyyy")г. - @Model.AvailableRoomsViewModel.DepartureDate.Value.ToString("dd.MM.yyyy")г.</h3>
    </div>
}
<h1 class="text-center">Стаи</h1>
<table class="table table-hover table-striped shadow">
    <tr class="text-center bg-secondary text-light shadow">
        <th>№</th>
        <th>Вид</th>
        <th>Размер</th>
        <th>Етаж</th>
        <th>Цена</th>
        <th>Описание</th>
        <th></th>
    </tr>
    @foreach (var room in Model.AllRoomsViewModel.OrderBy(x => x.Price))
    {
        <tr class="text-center">
            <td>@room.Id</td>
            <td>@room.RoomType</td>
            <td>@room.Size m&sup2;</td>
            <td>@room.Floor</td>
            <td class="font-weight-bold col-md-2">@room.Price лв.</td>
            <td>@room.Description</td>
            <td class="col-sm-2">
                <div class="d-inline-block text-center">
                    <a class="btn btn-warning" href="/Rooms/Details?roomId=@room.Id">Details</a>
                    <a class="btn btn-success" href="/Rooms/ClientPin?roomId=@room.Id">Hire</a>
                </div>
            </td>
        </tr>
    }
</table>
