@using TheHotel.ViewModels.Rooms
@using TheHotel.Common
@model RoomDetailsViewModel

@{
    ViewData["Title"] = "Room details";
}

<div class="details">
    <div class=" text-center">
        <h1 class="text-light">Стая @Model.Id</h1>
    </div>
    <br />
    @if (User.IsInRole(GlobalConstants.AdministratorRole))
    {
        <div class="row mb-2">
            <a class="btn btn-primary mr-2 text-light" href="/Rooms/AddImage?roomId=@Model.Id">Добавяне на снимка</a>
            <a class="btn btn-warning mr-2 text-info" href="/Rooms/Edit?roomId=@Model.Id">Редактиране</a>
            <a class="btn btn-danger mr-2 text-light" onclick="DeleteModal" data-toggle="modal" data-target="#DeleteModal" style="cursor:pointer">Изтриване</a>
        </div>
    }
    <div class="row">
        <div class="col-sm-6 d-inline-block ">
            <div class="border-left">
                <dl class="row m-1">
                    <dt class="col-md-4">Вид: </dt>
                    <dd class="col-sm-8">@Model.RoomType</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4">Етаж: </dt>
                    <dd class="col-sm-8">@Model.Floor</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4">Размер: </dt>
                    <dd class="col-sm-8">@Model.Size m&sup2;</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4">Цена: </dt>
                    <dd class="col-sm-8">@Model.Price лв.</dd>
                </dl>
            </div>
        </div>
        <div class="col-sm-6 d-inline-block">
            <dl>
                <dt class="text-center border-bottom">Описание</dt>
                <dd class="text-center m-2">@Model.Description</dd>

            </dl>
            <dl>
                <div>
                    <a class="btn btn-success float-right" href="/Rooms/ClientPin?roomId=@Model.Id">Резервирай</a>
                </div>
            </dl>
        </div>
    </div>


    <div class="row mt-4 mb-2">
        @foreach (var img in Model.Images)
        {
            <div class="col-sm-6 mt-2 mb-2">
                <img class="img-fluid img-thumbnail" src="@img.Url" alt="Room @Model.Id image." />
            </div>
        }
    </div>

    @if (Model.HireDates.Where(x => x.IsConfirmed == true && x.IsDeleted == false).Count() > 0 
        && (User.IsInRole(GlobalConstants.AdministratorRole) || User.IsInRole(GlobalConstants.ReceptionistRole)))
    {
        <h4 class="text-center text-light">Всички наети дати</h4>
        <div>
            <table class="table table-hover table-striped table-responsive-md shadow">
                <thead>
                    <tr class="text-center bg-secondary text-light shadow">
                        <th>Пълно име</th>
                        <th>ЕГН</th>
                        <th>Дата на настаняване</th>
                        <th>Дата на напускане</th>
                        <th>Нощувки</th>
                    </tr>
                </thead>
                @foreach (var item in Model.HireDates
                    .Where(x => x.IsConfirmed)
                    .Where(x => x.IsDeleted == false)
                    .OrderByDescending(x => x.AccommodationDate))
                {
                    int totalDays = (int)item.DepartureDate.Subtract(item.AccommodationDate).TotalDays;
                    <tbody>
                        <tr onmouseover="this.style.backgroundColor = 'green'" onmouseout="this.style.backgroundColor = 'transparent'" class="text-center text-light" onclick="window.location.href = '/ClientRooms/ReservationDetails?clientRoomId=' + '@item.Id'" style="cursor:pointer">
                            <td>@item.Client.FirstName @item.Client.LastName</td>
                            <td>@item.Client.PersonalIdentityNumber</td>
                            <td class="font-weight-bold">@item.AccommodationDate.ToLocalTime().ToString("dd.MM.yyyy")</td>
                            <td class="font-weight-bold">@item.DepartureDate.ToLocalTime().ToString("dd.MM.yyyy")</td>
                            <td>@totalDays</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    }
</div>

<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="DeleteModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="selectModal">Потвърждение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Сигурни ли сте, че искате да ПРЕМАХНЕТЕ стаята?
            </div>
            <div class="modal-footer">
                <button id="editBtn" type="button" class="btn btn-success" onclick="window.location.href='/Rooms/Delete?roomId='+'@Model.Id'">Да, премахвам</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Отказ</button>
            </div>
        </div>
    </div>
</div>