@using TheHotel.ViewModels.Clients
@model IEnumerable<ClientViewModel>

@{
    this.ViewData["Title"] = "Clients";
}

<div class="m-5">
    <form class="text-center" method="post">
        <label class="font-weight-bold">Търсене по ЕГН: </label>
        <input class="form-control col-sm-2 d-inline-block text-center" style="font-size:115%" type="text" name="clientPIN" />
        <button class="btn btn-warning btn-md" type="submit">Търси</button>
    </form>
</div>
<h1 class="text-center text-light m-5">Клиенти</h1>
@if (Model.Any())
{
    <table class="table table-hover table-striped text-light">
            <tr class="text-center text-warning">
                <th>Име</th>
                <th>Фамилия</th>
                <th>ЕГН</th>
                <th>Телефон</th>
                <th>Имейл</th>
                <th colspan="2" class="border-right-0">Брой наети стаи</th>
            </tr>
        @foreach (var item in Model.OrderByDescending(x => x.Rooms.OrderByDescending(y => y.AccommodationDate).FirstOrDefault()?.AccommodationDate))
        {
                <tr onmouseover="this.style.color = 'orange'" 
                    onmouseout="this.style.color = 'white'" 
                    class="text-center">
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.PersonalIdentityNumber</td>
                    <td>@item.Phone</td>
                    <td>@item.Email</td>
                    <td class="border-right-0 col-md-1">@item.Rooms.Where(x => x.IsConfirmed == true).Count()</td>
                    <td class="col-sm-1 border-0">
                        <div class="d-inline-block text-center">
                            <a class="btn btn-warning" href="/Clients/Details?clientId=@item.Id">Детайли</a>
                        </div>
                    </td>
                </tr>
        }
    </table>
}