@using TheHotel.ViewModels.Clients
@model ClientViewModel

@{
    ViewData["Title"] = "Client details";
}

<div class="details">
    <div class="text-center">
        <h1 class="text-light mt-2 mb-4">@Model.FirstName @Model.LastName</h1>
    </div>
    <div class="row mb-2 mt-2 ml-1">
        <a class="btn btn-warning mr-2 text-info" href="/Clients/Edit?clientId=@Model.Id">Редактиране</a>
        <a class="btn btn-danger mr-2 text-light" onclick="DeleteModal" data-toggle="modal" data-target="#DeleteModal" style="cursor:pointer">Изтриване</a>
    </div>
    <div class="row">
        <div class="col-md-8 d-inline-block ">
            <div>
                <dl class="row m-1">
                    <dt class="col-md-4">ЕГН:</dt>
                    <dd class="col-md-6">@Model.PersonalIdentityNumber</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4">Телефон:</dt>
                    <dd class="col-md-6">@Model.Phone</dd>
                </dl>
                <dl class="row m-1">
                    <dt class="col-md-4">Имейл:</dt>
                    <dd class="col-md-6">@Model.Email</dd>
                </dl>
            </div>
        </div>
    </div>
    @if (Model.Rooms.Count > 0)
    {
        <br>
        <h4 class="text-center">Наети стаи</h4>
        <div>
            <table class="table table-hover table-striped table-bordered table-responsive-md">
                <thead>
                    <tr class="text-center bg-secondary text-light shadow">
                        <th>№</th>
                        <th>Вид</th>
                        <th>Етаж</th>
                        <th>Размер</th>
                        <th>Цена</th>
                        <th>Дата на настаняване</th>
                        <th>Дата на напускане</th>
                        <th>Нощувки</th>
                    </tr>
                </thead>
                @foreach (var item in Model.Rooms.Where(x => x.IsConfirmed == true).OrderByDescending(x => x.AccommodationDate))
                {
                    var totalDays = (int)(item.DepartureDate - item.AccommodationDate).TotalDays;
                    <tbody class="text-light">
                        <tr onmouseover="this.style.color = 'green'" onmouseout="this.style.color = 'white'" class="text-center" onclick="window.location.href = '/ClientRooms/ReservationDetails?clientRoomId=' + '@item.Id'" style="cursor:pointer">
                            <td>@item.Room.Id</td>
                            <td>@item.Room.RoomType.Type</td>
                            <td>@item.Room.Floor</td>
                            <td>@item.Room.Size</td>
                            <td>@item.Room.Price</td>
                            <td class="font-weight-bold">@item.AccommodationDate.ToString("dd.MM.yyyy")</td>
                            <td class="font-weight-bold">@item.DepartureDate.ToString("dd.MM.yyyy")</td>
                            <td>@totalDays</td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    }
</div>

<div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLabel">Потвърждение</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Сигурни ли сте, че искате да ИЗТРИЕТЕ клиента?
            </div>
            <div class="modal-footer">
                <button id="deleteBtn" class="btn btn-success" onclick=" window.location.href = '/Clients/Delete?clientId=' + '@Model.Id';">Да, изтривам</button>
                <button type="button" class="btn btn-light" data-dismiss="modal">Отказ</button>
            </div>
        </div>
    </div>
</div>