@using TheHotel.ViewModels.Clients

@model ICollection<UndeleteClientsViewModel>

@{
    ViewData["Title"] = "Undelete Clients";
}

@if (Model.Count() == 0)
{
    <h2 class="text-center text-light">Няма изтрити клиенти!</h2>
}
else
{
    <h2 class="text-center text-light m-5">Изтрити клиенти</h2>

    <table class="table table-hover table-striped text-light">
        <tr class="text-center text-warning">
            <th>Име</th>
            <th>Фамилия</th>
            <th>ЕГН</th>
            <th>Телефон</th>
            <th>Имейл</th>
            <th>Изтрит на</th>
        </tr>
        @foreach (var client in Model)
        {
            <tr class="text-center"
                onmouseover="this.style.color = 'orange'"
                onmouseout="this.style.color = 'white'"
                onclick="window.location.href = '/Clients/Details?clientId=@client.Id'"
                style="cursor:pointer">
                <td>@client.FirstName</td>
                <td>@client.LastName</td>
                <td>@client.PersonalIdentityNumber</td>
                <td>@client.Phone</td>
                <td>@client.Email</td>
                <td>@client.DeletedOn.ToLocalTime().ToString("g")</td>
            </tr>
        }
    </table>
}