@using TheHotel.ViewModels.Contacts

@model IEnumerable<AnsweredQuestionViewModel>

@{
    ViewData["Title"] = "Answered Questions";
}

@if (Model.Count() == 0)
{
    <h2 class="text-center text-light">Няма отговорени запитвания!</h2>
}
else
{
<h2 class="text-center text-light m-5">Отговорени запитвания</h2>

    <table class="table table-hover table-striped text-light" style="table-layout:fixed">
        <tr class="text-center text-warning">
            <th>Име</th>
            <th>Имейл</th>
            <th>Относно</th>
            <th>Отговор на</th>
            <th>Запитване</th>
        </tr>
        @foreach (var question in Model.OrderByDescending(x => x.DeletedOn))
        {
            <tr class="text-center"
                onmouseover="this.style.backgroundColor = 'orange'"
                onmouseout="this.style.backgroundColor = 'transparent'"
                onclick="window.location.href = '/Contacts/QuestionDetails?questionId=@question.Id'"
                style="cursor:pointer; overflow-wrap:break-word">
                <td>@question.FirstName</td>
                <td>@question.Email</td>
                <td>@question.Title</td>
                <td>@question.DeletedOn.Value.ToLocalTime().ToString("g")</td>
                @if (question.Text.Length > 18)
                {
                    <td>@question.Text.Substring(0, 18) ...</td>
                }
                else
                {
                    <td>@question.Text</td>
                }
            </tr>
        }
    </table>
}